body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.contentx{
    background-color: #EDEADE;
     width:auto;
     margin-left:16%;
     height:100%;
     padding:70px;
     margin-bottom:0;
     border: 5px solid #3F3F3F;
     overflow: auto;
     
  }
  .column {
    width: 100%;
    margin-bottom: 16px;
  }

textarea{
    border:solid 1px black;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    resize: none;
    padding: 14px;
    border-radius: 5px;
}
input{
    background-color: #5AC7C7;
    border:solid 1px black;
    color:black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    width: 100px;
    height: 50px;
}

#comment_post{
    border:solid 1px black;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 14px;
    margin-bottom: 5px;
    border-radius: 10px;
}
#comment_show{
  border:solid 3px black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 14px;
  border-radius: 10px;
}

  #commentpost_button{
    background-color: #5AC7C7;
    border:none;
    border:solid 1px black;
    font-size: 14px;
    border-radius: 2px;
    width: 100px;
    height: 30px;
    float: right;
  }
  #like_button{
    background-color: #5AC7C7;
    border:none;
    border:solid 1px black;
    font-size: 14px;
    border-radius: 2px;
    width: 100px;
    height: 30px;
  }
  #dislike_button{
    background-color: #5AC7C7;
    border:none;
    border:solid 1px black;
    font-size: 14px;
    border-radius: 2px;
    width: 100px;
    height: 30px;
  }

.wrapper{
  display: flex;
  justify-content: left;
  margin-left: 10px;
}
.like{
  margin-right: 15px;
}
.like i{
  font-size: 20px;
  color: gainsboro
}
.like p{
  display: flex;
  margin-top: 20px;
  display: inline;
  margin-left: 10px;
  font-size: 15px;
}
.dislike{
  margin-left: 15px;
}
.dislike i{
  font-size: 20px;
  color: gainsboro;
  
}
.dislike p{
  display: flex;
  margin-top: 20px;
  display: inline;
  margin-left: 10px;
  font-size: 15px;
}
  