.form-div{
    margin-top: 100px;
    border: 1px solid #e0e0e0;
    padding-top: 15px;
    width: 10px;
}
#profileDisplay{
 
    width: 50%;
    margin: 10px auto;
    border-radius: 10%;
}
.contentx{
    background-color: white;
     width:auto;
     margin-left:16%;
     height:100%;
     padding:70px;
     margin-bottom:0;
     border: 5px solid #3F3F3F;
     overflow: auto;
     
  }