
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {

    width: 100%;
    margin-bottom: 16px;
    padding-left:200px;
  }
  .card {
    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    width: 75%;
  }
  span{
    color:#5AC7C7
  }
  .contentx{
    background-color:#EDEADE;
     width:auto;
     margin-left:16%;
     height:100%;
     padding:70px;
     margin-bottom:0;
     border: 5px solid #3F3F3F;
     border-bottom: none;
     overflow: auto;
  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  .box{
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .card_info{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      background: #eeeeee;
      font-size: 12px;
      border-bottom: 2px solid #cccccc;
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
